{% extends 'base.html' %}

{% block content %}
    <main>
        <div>
            <h1>My Tasks</h1>
            {% if task_list|length == 0 %}
                <p>You have no tasks</p>
            {% else %}
                <table>
                </tr>
                <thead>
                    <th>Name</th>
                    <th>Start date</th>
                    <th>End date</th>
                    <th>Is completed</th>
                </thead>
                </tr>
                <tr>
                    <tbody>
                        {% for x in task_list %}
                            <tr>
                                <td>{{ x.name }}</td>
                                <td>{{ x.start_date }}</td>
                                <td>{{ x.end_date }}</td>
                                {% if x.is_completed == False%}
                                    <td><form method="post" action="{% url 'complete_task' x.id %}">
                                        {% csrf_token %}
                                        <input type="hidden" name="is_completed" value="True">
                                        <button>Complete</button>
                                    </form>
                                    </td>
                                {% else %}
                                    <td>Done</td>
                                    </tr>
                                {% endif %}
                        {% endfor %}
                    </tbody>
                </tr>
                </table>
            {% endif %}

        </div>

    </main>
{% endblock content %}