{% extends 'base.html'%}
{% load markdownify %}
{{ text|markdownify }}

{% block content %}
    <main>
        <div>
            <h1>{{ project.name }}</h1>
            {{ project.description|markdownify }}
            <h2>Tasks</h2>
            <p><a href="{% url 'create_task' %}">Create a new task</a></p>
            <div>
                <table>
                    <tr>
                        <thead>
                            <th>Name</th>
                            <th>Assignee</th>
                            <th>Start date</th>
                            <th>Due date</th>
                            <th>Is completed</th>
                        </thead>
                    </tr>
                    <tr>
                    </tbody>
                    {% for x in project.tasks.all %}
                        <td> {{ x.name }} </td>
                        <td> {{ x.assignee }} </td>
                        <td> {{ x.start_date }} </td>
                        <td> {{ x.due_date }} </td>
                        <td> {{ x.is_completed }} </td>
                        </tbody>
                        </tr>
                        </table>
                        </div>
                    {% empty %}
                        <p> This project has no tasks </p>
                    {% endfor %}
                </div>

            </main>
{% endblock content %}