{% extends 'base.html' %}

{% block content %}
    <main>
        <div>
            <h1>My Projects</h1>
            <p> <A href="{% url 'create_project'%}">Create a new project</a></p>
            {% if project_list|length == 0 %}
                <p> You are not assigned to any projects </p>
            {% else %}
                <table>
                    <thead>
                        <tr>
                            <th> Name </th>
                            <th> Number of tasks</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for projects in project_list %}
                            <tr>
                                <td>
                                    <a href="{% url 'show_project' projects.pk%}">{{ projects}}</a>
                                </td>
                                <td> {{ projects.tasks.all|length }}</td>

                            </tr>
                            </tbody>
                        {% endfor %}
            {% endif %}

        </table>
    </div>
    </main>
{% endblock content %}